<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93752886033-i4al4h2gur8ul8i1a8t27m2petagbg0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93752886033-i4al4h2gur8ul8i1a8t27m2petagbg0t</string>
	<key>API_KEY</key>
	<string>AIzaSyCo56LZyZHe9fhXDzh2ZQCkJgkqPJGT5ew</string>
	<key>GCM_SENDER_ID</key>
	<string>93752886033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.grocr</string>
	<key>PROJECT_ID</key>
	<string>grocr-87c4e</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-87c4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93752886033:ios:8709441675588f8f2642b0</string>
</dict>
</plist>